<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <title>CSCB20</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content">
    <h1 class="page-title">Questions</h1>

    <div class="description">
      <ol class="feedback-response" type="a">
        <li>What do you like about the instructor teaching?</li>
        <li>What do you recommend the instructor to do to improve their teaching?</li>
        <li>What do you like about the labs?</li>
        <li>What do you recommend the lab instructors to do to improve their lab teaching?</li>
      </ol>
    </div>

    <h1 class="page-title">Responses</h1>

    {% for feedback in feedbacks %}
    <div class="description">
      <ol class="feedback-response" type="a">
        <li>{{feedback.q1}}</li>
        <li>{{feedback.q2}}</li>
        <li>{{feedback.q3}}</li>
        <li>{{feedback.q4}}</li>
      </ol>
    </div>
    {% endfor%}

  </div>

  {% endblock %}
</body>