<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <title>CSCB20</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content">
    <h1 class="page-title">Grades</h1>

    <div class="table-container-grades">
      <table>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Username</th>
          <th>Assignment 1</th>
          <th>Assignment 2</th>
          <th>Assignment 3</th>
          <th>Midterm</th>
        </tr>
        {% for student in students %}
        <tr>
          <td>{{student.last_name}}</td>
          <td>{{student.first_name}}</td>
          <td>{{student.username}}</td>
          <td>{{student.a1}}</td>
          <td>{{student.a2}}</td>
          <td>{{student.a3}}</td>
          <td>{{student.midterm}}</td>
        </tr>
        {% endfor%}
      </table>
    </div>

    <h1 class="page-title">Remark Requests</h1>

    <div class="table-container-grades">
      <table>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Username</th>
          <th>Assessment</th>
          <th>Grade</th>
          <th>Reason</th>
          <th>Request ID</th>
          <th></th>
        </tr>
        {% for remark in remarks %}
        <tr>
          <td>{{remark.student_last_name}}</td>
          <td>{{remark.student_first_name}}</td>
          <td>{{remark.student_username}}</td>
          <td>{{remark.item}}</td>
          <td>{{remark.grade}}</td>
          <td>{{remark.reason}}</td>
          <td>{{remark.id}}</td>
          <td>
            <a href="/closeremark/{{remark.id}}">
              <button type="close">Close request</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    <div class="message-{{category}} grade-message">{{message}}</div>
    {% endfor %}

    {% endif %}
    {% endwith %}

    <p class="message">Add or edit grades here.</p>

    <form class="addgrades-form" action="http://127.0.0.1:5000/grades" method="post">
      <label for="student">Please select student.</label>

      <select name="student">
        {% for student in students %}
        <option value={{student.username}}>{{student.first_name}} {{student.last_name}}</option>
        {% endfor %}
      </select>

      <div class="grade-input">
        <label for="a1">Input grade for Assignment 1.</label>
        <input id="a1" name="a1" type="text" required>
      </div>

      <div class="grade-input">
        <label for="a2">Input grade for Assignment 2.</label>
        <input id="a2" name="a2" type="text" required>
      </div>

      <div class="grade-input">
        <label for="a3">Input grade for Assignment 3.</label>
        <input id="a3" name="a3" type="text" required>
      </div>

      <div class="grade-input">
        <label for="midterm">Input grade for Midterm.</label>
        <input id="midterm" name="midterm" type="text" required>
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  {% endblock %}
</body>