<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" defer></script>
  <title>CSCB20</title>
</head>

<body onload="hideMessage()">
  <div class="login-register-form">
    <form class="description" action="/register-{{type}}" method="post">
      <h2>Register as {{type}}</h2>

      <div class="form-item">
        <label for="username">Username &nbsp;</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-item">
        <label for="first_name">First name &nbsp;</label>
        <input type="text" id="first_name" name="first_name" required>
      </div>

      <div class="form-item">
        <label for="last_name">Last name &nbsp;</label>
        <input type="text" id="last_name" name="last_name" required>
      </div>

      <div class="form-item">
        <label for="password">Password &nbsp;</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="form-item">
        <button type="submit">Register</button>
      </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    <div class="message-{{category}} hide">{{message}}</div>

    {% if category == 'success' and type == 'student' %}
    <p class="to-login">Proceed to <a href={{url_for("login_student")}}>log in</a>.</p>
    {% endif %}

    {% if category == 'success' and type == 'instructor' %}
    <p class="to-login">Proceed to <a href={{url_for("login_instructor")}}>log in</a>.</p>
    {% endif %}

    {% endfor %}

    {% endif %}
    {% endwith %}
  </div>
</body>